.SuccessArbitrableTx {
  background: linear-gradient(52.79deg, #1e075f 29.65%, #4004a3 76.51%);
  color: #fff; }
  .SuccessArbitrableTx-message {
    text-align: center;
    background-image: url(../../assets/success.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    min-height: 190px; }
    .SuccessArbitrableTx-message p {
      font-size: 1.4em;
      line-height: 1.4em;
      margin: 0 4px;
      padding: 2em 1em 1em 1em; }
  .SuccessArbitrableTx-footer {
    padding: 30px 50px;
    text-align: left;
    background: #1e075f;
    font-size: 14px; }

@media (max-width: 48em) {
  .SuccessArbitrableTx {
    margin: 0 4px; } }
