.link-share {
  background-color: white;
  padding: 20px 80px 70px 80px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 'email email url ...';

  &-url {
    grid-area: 'url';
    margin-left: 20px;
    display: inline-block;
    text-align: left;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 3px;
    border-right: none;
    padding-left: 0.8em;
    line-height: 40px;
    width: 250px;
    user-select: none;
    color: #4a4a4a;
  }
}
