.additional-options {
  height: 100px;
  width: 100%;
  background: white;
  padding: 0px 80px;

  .buttons {
    float: right;

    .link-share {
      margin-right: 20px;
      display: inline-block;

      button {
        height: 40px;
      }

      img {
        margin-right: 5px;
      }
    }

    .submit {
      display: inline-block;
    }
  }
}
