.Button {
  font-size: 0.9em;
  color: #fff;
  border: 0;
  background: #009aff;
  padding: 0 17px;
  border-radius: 3px;
  line-height: 40px;

  &:hover {
    cursor: pointer;
  }

  &:disabled, &[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
}