.TokenSelectInput {
  background: rgb(0, 154, 255);
  color: white;
  font-size: 18px;
  line-height: 22px;
  padding: 0.5em 0.8em;
  border: 1px solid #d9d9d9;
  text-align: center;
  width: 90%;
  margin-left: 15px;
  cursor: pointer;

  img {
    display: inline-block;
    height: 18px;
    float: left;
  }

  .down-arrow {
    display: inline-block;
    float: right;
    height: 12px;
    position: relative;
    top: 2px;
  }
}
