.Attachment {
  display: inline-block;
  padding-right: 5px; }
  .Attachment-title {
    font-size: 1.4em !important;
    padding: 0.5em 0 0.5em 0;
    font-weight: bold; }
  .Attachment-description {
    padding-bottom: 0.8em; }
  .Attachment-component-link {
    padding-right: 3px; }
    .Attachment-component-link:hover {
      cursor: pointer; }
  .Attachment-modal {
    min-width: 50vw; }
    .Attachment-modal-title {
      font-size: 1.4em;
      font-weight: bold;
      padding: 24px 0 1em 0; }
