.NewArbitrableTx {
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px rgba(201, 201, 201, 0.5);
  border-radius: 3px;
  padding: 1em 2em 2em 2em;

  &-h1 {
    color: #4004A3;
    font-size: 18px;
    border-bottom: 1px solid #efefef;
    line-height: 3em;
  }

  .FormNewArbitrableTx {
    padding: 1.3em 0 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "labelTitle labelTitle"
      "inputTitle inputTitle"
      "errorTitle helpTitle"
      "labelReceiver labelReceiver"
      "inputReceiver inputReceiver"
      "errorReceiver helpReceiver"
      "labelTimeout labelTimeout"
      "inputTimeout inputTimeout"
      "errorTimeout helpTimeout"
      "labelAmount labelAmount"
      "inputAmount inputAmount"
      "errorAmount helpAmount"
      "labelFile labelFile"
      "inputFile inputFile"
      "errorFile helpFile"
      "labelDescription templateDescription"
      "inputDescription inputDescription"
      "errorDescription helpDescription"
      "submit submit";

    &-label-title {
      grid-area: labelTitle;
    }

    &-input-title {
      grid-area: inputTitle;
    }

    &-error-title {
      grid-area: errorTitle;
    }

    &-help-title {
      grid-area: helpTitle;
    }

    &-label-receiver {
      grid-area: labelReceiver;
    }

    &-input-receiver {
      grid-area: inputReceiver;
    }

    &-error-receiver {
      grid-area: errorReceiver;
    }

    &-help-receiver {
      grid-area: helpReceiver;
    }

    &-label-timeout {
      grid-area: labelTimeout;
    }

    &-input-timeout {
      grid-area: inputTimeout;
    }

    &-error-timeout {
      grid-area: errorTimeout;
    }

    &-help-timeout {
      grid-area: helpTimeout;
    }

    &-label-amount {
      grid-area: labelAmount;
    }

    &-input-amount {
      grid-area: inputAmount;
    }

    &-error-amount {
      grid-area: errorAmount;
    }

    &-help-amount {
      grid-area: helpAmount;
    }

    &-label-file {
      grid-area: labelFile;
    }

    &-input-file {
      grid-area: inputFile;
    }

    &-error-file {
      grid-area: errorFile;
    }

    &-help-file {
      grid-area: helpFile;
      margin-bottom: 2em;
    }

    &-label-description {
      grid-area: labelDescription;
    }

    &-template-description-wrapper {
      grid-area: templateDescription;
      text-align: right;
      &-content {
        color: #4004a3;
        display: inline-block;
        width: 50%;
        text-align: left;
      }
    }

    &-input-description {
      grid-area: inputDescription;
      margin-top: 1em;
    }

    &-error-description {
      grid-area: errorDescription;
    }

    &-help-description {
      grid-area: helpDescription;
    }

    &-label {
      font-size: 1em;
      color: #4a4a4a;
      padding: 0.5em 0;

    }

    &-input {
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding: 0.5em 0.8em;
      margin-bottom: 0.5em;
      font-size: 1.1em;
      box-sizing: border-box;
      font-weight: 500;
    }

    &-error {
      color: red;
      font-size: 0.9em;
    }

    &-help {
      font-style: italic;
      font-size: 0.9em;
      text-align: right;
    }

    &-textarea {
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding: 0 1em;
      font-size: 1em;
      font-family: Roboto;
      padding: 0.7em 1em;
    }

    &-submit {
      grid-area: submit;
      padding-top: 2em;
      text-align: right;
    }
  }
}

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker__input-container {
  display: block !important;
  input {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0.5em 0.8em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    box-sizing: border-box;
    font-weight: 500;
  }
}

span.error {
  display: none;
}

@media (max-width: 48em) {
  .NewArbitrableTx {
    border: none;
    box-shadow: none;
    padding-top: 0;
  }
  .FormNewArbitrableTx {
    &-submit {
      text-align: center !important;
      button {
        float: none;
        display: inline;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
