.NewArbitrableTx {
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px rgba(201, 201, 201, 0.5);
  border-radius: 3px;
  padding: 1em 2em;

  &-h1 {
    padding-bottom: 1em;
    color: #4004A3;
    font-size: 18px;
    border-bottom: 1px solid #EFEFEF;
  }

  .FormNewArbitrableTx {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  
    grid-template-areas:
    "title description"
    "submit submit";

    padding: 3em 0 1em 0;

    .section-title {
      grid-area: title;
      display: grid;
      grid-gap: 16px;
      grid-template-columns: 200px 1fr;
      align-items: stretch;
      justify-items: stretch;
      label {
        font-size: 0.85em;
        color: #4a4a4a;
        text-align: right;
        grid-column: 1 / 2;
        padding-right: 2em;
        line-height: 40px;
      }

      input {
        grid-column: 2 / 3;
        max-width: 300px;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        padding: 0 1em;
        font-size: 1em;
      }
    }

    .section-description {
      grid-area: description;
      display: grid;
      grid-gap: 16px;
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "label textarea";

      label {
        grid-area: label;
        font-size: 0.85em;
        color: #4a4a4a;
        text-align: right;
        grid-column: 1 / 2;
        padding-right: 2em;
        line-height: 40px;
      }

      textarea {
        grid-area: textarea;
        justify-items: stretch;
        align-items: stretch;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        padding: 0 1em;
        font-size: 1em;
        font-family: Roboto;
        padding: 0.7em 1em;
      }
    }

    .section-submit {
      grid-area: submit;
      padding-top: 2em;
      text-align: right;
    }
  }
}