.NewArbitrableTx {
  background: #fff;
  border-radius: 3px;
  padding: 40px 80px; }
  .NewArbitrableTx-h1 {
    color: #4004a3;
    font-size: 24px;
    border-bottom: 1px solid #4004a3;
    font-weight: 500;
    padding-bottom: 22px;
    margin-bottom: 22px; }
  .NewArbitrableTx .FormNewArbitrableTx {
    padding: 1.3em 0 1em 0; }
    .NewArbitrableTx .FormNewArbitrableTx .FormNewArbitrableTx-PaymentDetails {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'templateDescription templateDescription' 'labelArbitrableAddresses labelArbitrableAddresses' 'inputArbitrableAddresses inputArbitrableAddresses' 'errorArbitrableAddresses helpArbitrableAddresses' 'labelTitle labelTitle' 'inputTitle inputTitle' 'errorTitle helpTitle' 'labelReceiver labelReceiver' 'inputReceiver inputReceiver' 'errorReceiver helpReceiver' 'labelAmount labelAmount' 'inputAmount inputAmount' 'errorAmount helpAmount' 'labelTimeout labelTimeout' 'inputTimeout inputTimeout' 'errorTimeout helpTimeout' 'labelFile labelFile' 'inputFile inputFile' 'errorFile helpFile'; }
    .NewArbitrableTx .FormNewArbitrableTx-label-arbitrableAddresses {
      grid-area: labelArbitrableAddresses; }
    .NewArbitrableTx .FormNewArbitrableTx-input-arbitrableAddresses {
      grid-area: inputArbitrableAddresses; }
    .NewArbitrableTx .FormNewArbitrableTx-error-arbitrableAddresses {
      grid-area: errorArbitrableAddresses; }
    .NewArbitrableTx .FormNewArbitrableTx-help-arbitrableAddresses {
      grid-area: helpArbitrableAddresses; }
    .NewArbitrableTx .FormNewArbitrableTx-label-title {
      grid-area: labelTitle; }
    .NewArbitrableTx .FormNewArbitrableTx-input-title {
      grid-area: inputTitle; }
    .NewArbitrableTx .FormNewArbitrableTx-error-title {
      grid-area: errorTitle; }
    .NewArbitrableTx .FormNewArbitrableTx-help-title {
      grid-area: helpTitle; }
    .NewArbitrableTx .FormNewArbitrableTx-help-tips {
      grid-area: helpTips;
      margin-top: 7px; }
      .NewArbitrableTx .FormNewArbitrableTx-help-tips-tip {
        margin-top: 3px; }
    .NewArbitrableTx .FormNewArbitrableTx-label-receiver {
      grid-area: labelReceiver; }
    .NewArbitrableTx .FormNewArbitrableTx-input-receiver {
      grid-area: inputReceiver; }
    .NewArbitrableTx .FormNewArbitrableTx-error-receiver {
      grid-area: errorReceiver; }
    .NewArbitrableTx .FormNewArbitrableTx-help-receiver {
      grid-area: helpReceiver; }
    .NewArbitrableTx .FormNewArbitrableTx-label-timeout {
      grid-area: labelTimeout; }
    .NewArbitrableTx .FormNewArbitrableTx-input-timeout {
      grid-area: inputTimeout; }
    .NewArbitrableTx .FormNewArbitrableTx-error-timeout {
      grid-area: errorTimeout; }
    .NewArbitrableTx .FormNewArbitrableTx-help-timeout {
      grid-area: helpTimeout; }
    .NewArbitrableTx .FormNewArbitrableTx-label-amount {
      grid-area: labelAmount; }
    .NewArbitrableTx .FormNewArbitrableTx-input-amount {
      grid-area: inputAmount; }
      .NewArbitrableTx .FormNewArbitrableTx-input-amount input {
        width: 75%; }
    .NewArbitrableTx .FormNewArbitrableTx-amount-select {
      display: inline-block;
      width: 25%; }
    .NewArbitrableTx .FormNewArbitrableTx-error-amount {
      grid-area: errorAmount; }
    .NewArbitrableTx .FormNewArbitrableTx-help-amount {
      grid-area: helpAmount; }
    .NewArbitrableTx .FormNewArbitrableTx-label-file {
      grid-area: labelFile; }
    .NewArbitrableTx .FormNewArbitrableTx-input-file {
      grid-area: inputFile; }
    .NewArbitrableTx .FormNewArbitrableTx-error-file {
      grid-area: errorFile; }
    .NewArbitrableTx .FormNewArbitrableTx-help-file {
      grid-area: helpFile;
      margin-bottom: 2em; }
    .NewArbitrableTx .FormNewArbitrableTx-label-description {
      grid-area: labelDescription; }
    .NewArbitrableTx .FormNewArbitrableTx-template-description-wrapper {
      grid-area: templateDescription;
      text-align: left;
      margin-bottom: 25px; }
      .NewArbitrableTx .FormNewArbitrableTx-template-description-wrapper-content {
        color: #4004a3;
        display: inline-block;
        width: 50%;
        text-align: left; }
    .NewArbitrableTx .FormNewArbitrableTx-template-arbitrableAddresses-wrapper {
      grid-area: inputArbitrableAddresses;
      padding-bottom: 10px; }
      .NewArbitrableTx .FormNewArbitrableTx-template-arbitrableAddresses-wrapper-content {
        color: #4004a3;
        width: 100%; }
    .NewArbitrableTx .FormNewArbitrableTx-input-description {
      grid-area: inputDescription;
      margin-top: 1em;
      max-width: 100%; }
    .NewArbitrableTx .FormNewArbitrableTx-error-description {
      grid-area: errorDescription; }
    .NewArbitrableTx .FormNewArbitrableTx-help-description {
      grid-area: helpDescription; }
    .NewArbitrableTx .FormNewArbitrableTx-label {
      font-size: 14px;
      color: #4a4a4a;
      padding: 7px 0; }
      .NewArbitrableTx .FormNewArbitrableTx-label-optional-checkbox {
        margin-right: 10px; }
    .NewArbitrableTx .FormNewArbitrableTx-input {
      color: #4a4a4a;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding: 0.5em 0.8em;
      margin-bottom: 7px;
      font-size: 18px;
      box-sizing: border-box;
      font-weight: 400;
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
      .NewArbitrableTx .FormNewArbitrableTx-input::placeholder {
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 400; }
    .NewArbitrableTx .FormNewArbitrableTx-ExtraDetails-input {
      width: 100%;
      margin-top: 12px;
      margin-bottom: 20px; }
    .NewArbitrableTx .FormNewArbitrableTx-error {
      color: #ff0303;
      font-size: 0.9em; }
    .NewArbitrableTx .FormNewArbitrableTx-help {
      color: #4a4a4a;
      font-style: italic;
      font-size: 12px;
      text-align: right; }
  .NewArbitrableTx .FormNewArbitrableTx-Bottom {
    background: #F2E3FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'labelDescription templateDescription' 'inputDescription inputDescription' 'errorDescription helpDescription' 'errorTips helpTips' 'text buttons';
    margin-top: 55px;
    margin: 55px -80px -55px -80px;
    padding: 43px 80px 43px 80px; }
    .NewArbitrableTx .FormNewArbitrableTx-Bottom-textarea {
      font-size: 14px;
      color: #4a4a4a;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding: 0 1em;
      font-size: 1em;
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 0.7em 1em; }
    .NewArbitrableTx .FormNewArbitrableTx-Bottom-buttons {
      grid-area: buttons; }
      .NewArbitrableTx .FormNewArbitrableTx-Bottom-buttons span {
        float: right; }
      .NewArbitrableTx .FormNewArbitrableTx-Bottom-buttons-submit {
        display: inline-block;
        padding-top: 2em;
        text-align: right; }
        .NewArbitrableTx .FormNewArbitrableTx-Bottom-buttons-submit button {
          padding: 0 50px; }
      .NewArbitrableTx .FormNewArbitrableTx-Bottom-buttons-back {
        background: white;
        border: 1px solid #4D00B4;
        border-radius: 3px;
        color: #4D00B4;
        cursor: pointer;
        display: inline-block;
        margin-right: 20px;
        font-size: 14px;
        padding-top: 2em;
        text-align: right;
        padding: 12px 30px; }
    .NewArbitrableTx .FormNewArbitrableTx-Bottom-title {
      font-size: 18px;
      font-weight: 500;
      color: #4D00B4; }

.select__control {
  border: 1px solid #d9d9d9 !important; }

.select__placeholder {
  font-size: 18px !important;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  color: #4a4a4a !important;
  font-weight: 400 !important;
  padding-left: 4px; }

.select__single-value {
  font-size: 18px;
  color: #4a4a4a !important;
  line-height: 20px;
  padding-left: 5px; }

.react-datepicker-wrapper {
  display: block !important; }

.react-datepicker__input-container {
  display: block !important; }
  .react-datepicker__input-container input {
    color: #4a4a4a;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0.5em 0.8em;
    margin-bottom: 0.5em;
    font-size: 18px;
    box-sizing: border-box;
    font-weight: 400; }
    .react-datepicker__input-container input::placeholder {
      color: #4a4a4a; }

span.error {
  display: none; }

@media (max-width: 48em) {
  .NewArbitrableTx {
    border: none;
    box-shadow: none;
    padding: 0 15px 10px 15px;
    margin: 0 4px; }
    .NewArbitrableTx-h1 {
      text-align: center;
      font-size: 1.1em;
      padding: 2em 0 1.5em 0; }
  .FormNewArbitrableTx-help-title {
    display: none; }
  .FormNewArbitrableTx-help-receiver {
    display: none; }
  .FormNewArbitrableTx-help-timeout {
    display: none; }
  .FormNewArbitrableTx-help-amount {
    display: none; }
  .FormNewArbitrableTx-help-file {
    display: none; }
  .FormNewArbitrableTx-submit {
    text-align: center !important; }
    .FormNewArbitrableTx-submit button {
      float: none;
      display: inline;
      margin: 0 auto;
      width: 100%; } }
