.PayOrReimburseArbitrableTx {
  display: inline-block; }
  .PayOrReimburseArbitrableTx-pay:before {
    content: 'ETH';
    color: #444;
    font-size: 14px;
    position: relative;
    right: -40px; }
  .PayOrReimburseArbitrableTx-pay-field {
    padding: 12px 4px 12px 45px;
    font-size: 14px;
    margin-right: -3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 230px; }
  .PayOrReimburseArbitrableTx-pay-field:focus {
    outline: 0; }

.rangeslider {
  box-sizing: border-box; }

.rangeslider-horizontal {
  position: relative;
  left: 5%;
  width: 90%; }
  .rangeslider-horizontal .rangeslider__fill {
    background-color: #009AFF !important; }
