/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: #f8f8f8){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1.2em;
    background: $bgColor;
  }
}

.ResumeArbitrableTx {
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px rgba(201, 201, 201, 0.5);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1em 2em 2em 2em;

  &-h1 {
    color: #4004A3;
    font-size: 18px;
    border-bottom: 1px solid #efefef;
    line-height: 3em;
  }

  &-ContentNewArbitrableTx {
    padding: 1.3em 0 1em 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "nameTitle nameTitle nameTitle"
      "contentTitle contentTitle contentTitle"
      "nameOtherParty nameCategory nameCategory"
      "contentOtherParty contentCategory contentCategory"
      "nameTimeout nameAmount nameAmount"
      "contentTimeout contentAmount contentAmount"
      "nameFile nameFile nameFile"
      "contentFile contentFile contentFile"
      "nameDescription nameDescription nameAllDescription"
      "contentDescription contentDescription contentDescription"
      "nameShare nameShare nameShare"
      "submit submit submit";

    &-name-title {
      grid-area: nameTitle;
    }

    &-content-title {
      grid-area: contentTitle;
    }

    &-name-otherParty {
      grid-area: nameOtherParty;
      text-transform: capitalize;
    }

    &-name-category {
      grid-area: nameCategory;
      text-transform: capitalize;
    }

    &-content-otherParty {
      grid-area: contentOtherParty;
    }

    &-content-category {
      grid-area: contentCategory;
    }

    &-name-timeout {
      grid-area: nameTimeout;
    }

    &-content-timeout {
      grid-area: contentTimeout;
    }

    &-name-amount {
      grid-area: nameAmount;
    }

    &-content-amount {
      grid-area: contentAmount;
    }

    &-name-file {
      grid-area: nameFile;
    }

    &-content-file {
      grid-area: contentFile;
    }

    &-name-description {
      grid-area: nameDescription;
      padding: 1em 2em 1em 2em;
      color: #4a4a4a;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      border-right: 0;
      box-sizing: border-box;
      border-top-left-radius: 3px;
    }

    &-name-all-description {
      grid-area: nameAllDescription;
      color: #4a4a4a;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      border-left: 0;
      box-sizing: border-box;
      border-top-right-radius: 3px;
      cursor: pointer;
      text-align: right;
      padding-right: 2em;
      padding-top: 0.5em;

      &-show-all {
        transition-duration: 0.8s;
        transition-property: transform;
      }

      &-not-show-all {
        transform: rotate(180deg);
        transition-duration: 0.8s;
        transition-property: transform;

      }
    }

    &-content-description {
      grid-area: contentDescription;
      padding: 0 2em 1em 2em;
      color: #4a4a4a;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-top: 0;
      box-sizing: border-box;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-bottom: 1em;
      white-space: pre-line;
      min-height: 3em;
      line-height: 1.2em;
      &-p-short {
        @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 10);
      }
    }

    &-name-share {
      grid-area: nameShare;
    }

    &-link-share {
      grid-area: linkShare;
      &-url {
        margin-left: 20px;
        display: inline-block;
        text-align: left;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 3px;
        border-right: none;
        padding-left: 0.8em;
        line-height: 40px;
        width: 250px;
        user-select: none;
        color: #4a4a4a;
      }
    }

    &-submit {
      grid-area: submit;
      text-align: right;
    }

    &-name {
      font-size: 0.8em;
      color: #4a4a4a;
      padding: 0.8em 0 0.6em 0;
    }

    &-content {
      font-size: 1em;
      padding-bottom: 1em;
    }
  }
}

@media (max-width: 48em) {
  .ResumeArbitrableTx {
    border: none;
    box-shadow: none;
    padding-top: 0;
    &-ContentNewArbitrableTx {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "nameTitle nameTitle"
        "contentTitle contentTitle"
        "nameOtherParty nameOtherParty"
        "contentOtherParty contentOtherParty"
        "nameCategory nameCategory"
        "contentCategory contentCategory"
        "nameAmount nameAmount"
        "contentAmount contentAmount"
        "nameTimeout nameTimeout"
        "contentTimeout contentTimeout"
        "nameFile nameFile"
        "contentFile contentFile"
        "nameDescription nameAllDescription"
        "contentDescription contentDescription"
        "submit submit";

        &-link-share {
          color: red;
          text-align: center;
        }

      &-link-share-url {
        display: none;
      }

      &-link-share-email {
        display: none !important;
      }

      &-submit {
        .PayOrReimburseArbitrableTx {
          width: 100%;
        }
        button {
          display: block;
          width: 100%;
        }
      }
    }
  }
}