/* mixin for multiline */
.ResumeArbitrableTx {
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px rgba(201, 201, 201, 0.5);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1em 2em 2em 2em; }
  .ResumeArbitrableTx-h1 {
    color: #4004A3;
    font-size: 18px;
    border-bottom: 1px solid #efefef;
    line-height: 3em; }
  .ResumeArbitrableTx-ContentNewArbitrableTx {
    padding: 1.3em 0 1em 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "nameTitle nameTitle nameTitle" "contentTitle contentTitle contentTitle" "nameOtherParty nameOtherParty nameOtherParty" "contentOtherParty contentOtherParty contentOtherParty" "nameTimeout nameAmount nameAmount" "contentTimeout contentAmount contentAmount" "nameFile nameFile nameFile" "contentFile contentFile contentFile" "nameDescription nameDescription nameAllDescription" "contentDescription contentDescription contentDescription" "nameShare nameShare nameShare" "linkShare linkShare submit"; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-title {
      grid-area: nameTitle; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-title {
      grid-area: contentTitle; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-otherParty {
      grid-area: nameOtherParty;
      text-transform: capitalize; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-otherParty {
      grid-area: contentOtherParty; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-timeout {
      grid-area: nameTimeout; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-timeout {
      grid-area: contentTimeout; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-amount {
      grid-area: nameAmount; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-amount {
      grid-area: contentAmount; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-file {
      grid-area: nameFile; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-file {
      grid-area: contentFile; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-description {
      grid-area: nameDescription;
      padding: 1em 2em 1em 2em;
      color: #4a4a4a;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      border-right: 0;
      box-sizing: border-box;
      border-top-left-radius: 3px; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-all-description {
      grid-area: nameAllDescription;
      color: #4a4a4a;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      border-left: 0;
      box-sizing: border-box;
      border-top-right-radius: 3px;
      cursor: pointer;
      text-align: right;
      padding-right: 2em;
      padding-top: 0.5em; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-name-all-description-show-all {
        transition-duration: 0.8s;
        transition-property: transform; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-name-all-description-not-show-all {
        transform: rotate(180deg);
        transition-duration: 0.8s;
        transition-property: transform; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-description {
      grid-area: contentDescription;
      padding: 0 2em 1em 2em;
      color: #4a4a4a;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-top: 0;
      box-sizing: border-box;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-bottom: 1em;
      white-space: pre-line;
      min-height: 3em;
      line-height: 1.2em; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-content-description-p-short {
        overflow: hidden;
        position: relative;
        line-height: 1.2em;
        max-height: 12em;
        margin-right: -1em;
        padding-right: 1em; }
        .ResumeArbitrableTx-ContentNewArbitrableTx-content-description-p-short:before {
          content: '...';
          position: absolute;
          right: 0;
          bottom: 0; }
        .ResumeArbitrableTx-ContentNewArbitrableTx-content-description-p-short:after {
          content: '';
          position: absolute;
          right: 0;
          width: 1em;
          height: 1.2em;
          background: #f8f8f8; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-share {
      grid-area: nameShare; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-link-share {
      grid-area: linkShare; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-link-share-url {
        display: inline-block;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 3px;
        border-right: none;
        padding-left: 0.8em;
        line-height: 40px;
        width: 250px;
        user-select: none;
        color: #4a4a4a; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-submit {
      grid-area: submit;
      text-align: right; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name {
      font-size: 0.8em;
      color: #4a4a4a;
      padding: 0.8em 0 0.6em 0; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content {
      font-size: 1em;
      padding-bottom: 1em; }

@media (max-width: 48em) {
  .ResumeArbitrableTx {
    border: none;
    box-shadow: none;
    padding-top: 0; }
    .ResumeArbitrableTx-ContentNewArbitrableTx {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "nameTitle nameTitle" "contentTitle contentTitle" "nameOtherParty nameOtherParty" "contentOtherParty contentOtherParty" "nameAmount nameAmount" "contentAmount contentAmount" "nameTimeout nameTimeout" "contentTimeout contentTimeout" "nameFile nameFile" "contentFile contentFile" "nameDescription nameAllDescription" "contentDescription contentDescription" "submit submit"; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-name-share {
        display: none; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-link-share {
        display: none; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-submit .PayOrReimburseArbitrableTx {
        width: 100%; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-submit button {
        display: block;
        width: 100%; } }
