/* mixin for multiline */
.ResumeArbitrableTx {
  background: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 40px 80px; }
  .ResumeArbitrableTx-h1 {
    color: #4004a3;
    font-size: 24px;
    border-bottom: 1px solid #4004a3;
    font-weight: 500;
    padding-bottom: 22px;
    margin-bottom: 24px; }
  .ResumeArbitrableTx-ContentNewArbitrableTx {
    padding: 0 0 1em 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 'nameTitle nameTitle nameTitle' 'contentTitle contentTitle contentTitle' 'nameOtherParty nameCategory nameCategory' 'contentOtherParty contentCategory contentCategory' 'nameTimeout nameAmount nameAmount' 'contentTimeout contentAmount contentAmount' 'nameFile nameFile nameFile' 'contentFile contentFile contentFile' 'nameDescription nameDescription nameAllDescription' 'contentDescription contentDescription contentDescription' 'nameShare nameShare nameShare' 'nameEvidence nameEvidence nameEvidence' 'contentEvidence contentEvidence contentEvidence' 'submit submit submit'; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-title {
      grid-area: nameTitle; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-title {
      grid-area: contentTitle; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-otherParty {
      grid-area: nameOtherParty;
      text-transform: capitalize; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-category {
      grid-area: nameCategory;
      text-transform: capitalize; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-otherParty {
      grid-area: contentOtherParty; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-category {
      grid-area: contentCategory; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-timeout {
      grid-area: nameTimeout; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-timeout {
      grid-area: contentTimeout; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-amount {
      grid-area: nameAmount; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-amount {
      grid-area: contentAmount; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-file {
      grid-area: nameFile; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-file {
      grid-area: contentFile; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-description {
      grid-area: nameDescription;
      margin-top: 40px;
      padding: 20px 32px 16px;
      color: #4a4a4a;
      font-size: 14px;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      border-right: 0;
      box-sizing: border-box;
      border-top-left-radius: 3px; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-all-description {
      grid-area: nameAllDescription;
      margin-top: 40px;
      color: #4a4a4a;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      border-left: 0;
      box-sizing: border-box;
      border-top-right-radius: 3px;
      cursor: pointer;
      text-align: right;
      padding-right: 2em;
      padding-top: 0.5em; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-name-all-description-show-all {
        transition-duration: 0.8s;
        transition-property: transform; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-name-all-description-not-show-all {
        transform: rotate(180deg);
        transition-duration: 0.8s;
        transition-property: transform; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content-description {
      grid-area: contentDescription;
      padding: 0 32px 16px;
      color: #4a4a4a;
      background: #f8f8f8;
      border: 1px solid #d9d9d9;
      border-top: 0;
      box-sizing: border-box;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-bottom: 1em;
      position: relative;
      white-space: pre-line; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-content-description-p-short {
        font-size: 14px;
        overflow-y: scroll;
        line-height: 14px;
        max-height: 140px;
        margin-right: -1em;
        padding-right: 1em; }
        .ResumeArbitrableTx-ContentNewArbitrableTx-content-description-p-short:before {
          content: '...';
          bottom: 0.5em;
          position: absolute;
          right: 2em; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-content-description p.false {
        font-size: 14px;
        line-height: 14px; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-evidence-name {
      grid-area: nameEvidence; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-evidence-container {
      grid-area: contentEvidence; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-evidence-container-item {
        display: inline-block; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name-share {
      grid-area: nameShare; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-submit {
      grid-area: submit;
      text-align: right; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-name {
      color: #4a4a4a;
      font-size: 14px;
      font-weight: 300;
      margin: 24px 0 7px; }
    .ResumeArbitrableTx-ContentNewArbitrableTx-content {
      color: #4a4a4a;
      font-size: 18px; }

@media (max-width: 48em) {
  .ResumeArbitrableTx {
    border: none;
    box-shadow: none;
    padding: 0 15px 10px 15px;
    margin: 0 4px; }
    .ResumeArbitrableTx-h1 {
      text-align: center;
      font-size: 1.1em;
      padding: 2em 0 1.5em 0; }
    .ResumeArbitrableTx-ContentNewArbitrableTx {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'nameTitle nameTitle' 'contentTitle contentTitle' 'nameOtherParty nameOtherParty' 'contentOtherParty contentOtherParty' 'nameCategory nameCategory' 'contentCategory contentCategory' 'nameAmount nameAmount' 'contentAmount contentAmount' 'nameTimeout nameTimeout' 'contentTimeout contentTimeout' 'nameFile nameFile' 'contentFile contentFile' 'nameDescription nameAllDescription' 'contentDescription contentDescription' 'submit submit'; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-link-share {
        color: #ff0303;
        text-align: center; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-link-share-link {
        display: none; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-link-share-email {
        display: none !important; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-submit .PayOrReimburseArbitrableTx {
        width: 100%; }
      .ResumeArbitrableTx-ContentNewArbitrableTx-submit button {
        display: block;
        width: 100%; } }
