/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 14px, $lineCount: 1, $bgColor: #f8f8f8) {
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    bottom: 0.5em;
    position: absolute;
    right: 2em;
  }
}

.ResumeArbitrableTx {
  background: #fff;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 40px 80px;

  &-h1 {
    color: #4004a3;
    font-size: 24px;
    border-bottom: 1px solid #4004a3;
    font-weight: 500;
    padding-bottom: 22px;
    margin-bottom: 24px;
  }

  &-ContentNewArbitrableTx {
    padding: 0 0 1em 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      'nameTitle nameTitle nameTitle'
      'contentTitle contentTitle contentTitle'
      'nameOtherParty nameTimeout nameTimeout'
      'contentOtherParty contentTimeout contentTimeout'
      'nameCategory nameFile nameFile'
      'contentCategory contentFile contentFile'
      'nameAmount nameAmount nameAmount'
      'amount amount amount'
      'nameDescription nameDescription nameAllDescription'
      'contentDescription contentDescription contentDescription'
      'nameShare nameShare nameShare'
      'nameEvidence nameEvidence nameEvidence'
      'contentEvidence contentEvidence contentEvidence'
      'submit submit submit';

    &-name-title {
      grid-area: nameTitle;
    }

    &-content-title {
      grid-area: contentTitle;
    }

    &-name-otherParty {
      grid-area: nameOtherParty;
      text-transform: capitalize;
    }

    &-name-category {
      grid-area: nameCategory;
      text-transform: capitalize;
    }

    &-content-otherParty {
      grid-area: contentOtherParty;
      font-size: 16px !important;
    }

    &-content-category {
      grid-area: contentCategory;
    }

    &-name-timeout {
      grid-area: nameTimeout;
    }

    &-content-timeout {
      grid-area: contentTimeout;
    }

    &-name-amount {
      grid-area: nameAmount;
    }

    &-amount {
      grid-area: amount;

      &-warning {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
    }

    &-amount-content {
      grid-area: amount;
    }

    &-name-file {
      grid-area: nameFile;
    }

    &-content-file {
      grid-area: contentFile;
    }

    &-name-description {
      grid-area: nameDescription;
      margin-top: 40px;
      padding: 20px 32px 16px;
      color: #4D00B4;
      font-size: 18px;
      font-weight: 500;
    }

    &-content-description {
      grid-area: contentDescription;
      padding: 32px 32px;
      margin-top: 22px;
      color: #4D00B4;
      background: #F2E3FF;
      border: 1px solid #D09CFF;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 14px;
      margin-bottom: 1em;
      position: relative;
      white-space: pre-line;
      min-height: 186px;
    }

    &-evidence-name {
      grid-area: nameEvidence;
    }

    &-evidence-container {
      grid-area: contentEvidence;
      &-item {
        display: inline-block;
      }
    }

    &-name-share {
      grid-area: nameShare;
    }

    &-submit {
      grid-area: submit;
      text-align: right;
    }

    &-name {
      color: #4a4a4a;
      font-size: 14px;
      font-weight: 300;
      margin: 24px 0 7px;
    }

    &-content {
      color: #4a4a4a;
      font-size: 18px;
    }
  }
}

@media (max-width: 56em) {
  .ResumeArbitrableTx {
    border: none;
    box-shadow: none;
    padding: 0 15px 10px 15px;
    margin: 0 4px;
    &-h1 {
      text-align: center;
      font-size: 1.1em;
      padding: 2em 0 1.5em 0;
    }
    &-ContentNewArbitrableTx {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'nameTitle nameTitle'
        'contentTitle contentTitle'
        'nameOtherParty nameOtherParty'
        'contentOtherParty contentOtherParty'
        'nameCategory nameCategory'
        'contentCategory contentCategory'
        'nameAmount nameAmount'
        'contentAmount contentAmount'
        'nameTimeout nameTimeout'
        'contentTimeout contentTimeout'
        'nameFile nameFile'
        'contentFile contentFile'
        'nameDescription nameAllDescription'
        'contentDescription contentDescription'
        'submit submit';

      &-link-share {
        color: #ff0303;
        text-align: center;
      }

      &-link-share-link {
        display: none;
      }

      &-link-share-email {
        display: none !important;
      }

      &-submit {
        .PayOrReimburseArbitrableTx {
          width: 100%;
        }
        button {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
