.ArbitrableTxCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 100px;

  section {
    border-radius: 3px;
    border: #ccc solid 1px;
    overflow: hidden;
    h2 {
      color: #4a4a4a;
      font-size: 1.4em;
      padding: 10px;
    }

    p {
      margin-bottom: 1em;
      padding: 0 10px;
    }
  }

  section:hover {
    cursor: pointer;
  }
}