@charset "UTF-8";
/* mixin for multiline */
.ArbitrableTxCards-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-auto-rows: 250px; }
  .ArbitrableTxCards-cards-section {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: #ccc solid 1px;
    overflow: hidden;
    color: #4a4a4a; }
    .ArbitrableTxCards-cards-section-header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0.5em 1em 0.5em 0.7em;
      border-bottom: 1px solid #ebebeb;
      font-size: 1.2em;
      line-height: 25px;
      font-weight: 400; }
      .ArbitrableTxCards-cards-section-header-address {
        color: #4a4a4a;
        padding-left: 0.7em; }
      .ArbitrableTxCards-cards-section-header-party {
        flex: 1;
        text-align: right;
        display: inline-block;
        color: #4004a3; }
        .ArbitrableTxCards-cards-section-header-party:first-letter {
          text-transform: capitalize; }
    .ArbitrableTxCards-cards-section-h2 {
      font-size: 1.2em;
      margin: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #ebebeb;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .ArbitrableTxCards-cards-section-description {
      flex-grow: 1; }
      .ArbitrableTxCards-cards-section-description-p {
        overflow: hidden;
        position: relative;
        line-height: 1.2em;
        max-height: 6em;
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
        margin: 0 1.15em 1em 1.15em; }
        .ArbitrableTxCards-cards-section-description-p:before {
          content: '...';
          position: absolute;
          right: 0;
          bottom: 0; }
        .ArbitrableTxCards-cards-section-description-p:after {
          content: '';
          position: absolute;
          right: 0;
          width: 1em;
          height: 1em;
          margin-top: 0.2em;
          background: white; }
    .ArbitrableTxCards-cards-section-footer {
      background: #f8f8f8;
      padding: 1em 0; }
      .ArbitrableTxCards-cards-section-footer-completed {
        color: #009aff;
        font-weight: 500; }
      .ArbitrableTxCards-cards-section-footer-completed:before {
        padding: 0 0.5em 0 1em;
        position: relative;
        content: url(../../assets/icon-success-blue.svg); }
      .ArbitrableTxCards-cards-section-footer-waiting {
        color: #4004a3;
        font-weight: 500;
        padding-left: 1em; }
      .ArbitrableTxCards-cards-section-footer-waiting:before {
        padding: 0 0.5em 0 1em; }
      .ArbitrableTxCards-cards-section-footer-dispute {
        color: #ff0404;
        font-weight: 500; }
      .ArbitrableTxCards-cards-section-footer-dispute:before {
        padding: 0 0.5em 0 1em;
        position: relative;
        content: url(../../assets/icon-dispute-red.svg); }
    .ArbitrableTxCards-cards-section-new {
      position: relative;
      display: flex;
      /* contexte sur le parent */
      background: #f8f8f8;
      color: #009aff; }
      .ArbitrableTxCards-cards-section-new-content {
        position: absolute;
        top: 50%;
        /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%);
        /* tiré de la moitié de sa propre hauteur */
        width: 100%;
        text-align: center; }
  .ArbitrableTxCards-cards section:hover {
    cursor: pointer; }

.ArbitrableTxCards-h1 {
  font-size: 1.1em;
  padding: 1.6em 0; }

.ArbitrableTxCards-new {
  width: 100vw;
  height: 60vh;
  text-align: center;
  line-height: 60vh;
  cursor: pointer; }
