.NewInvoiceArbitrableTx {
  background: #fff;
  border-radius: 3px;
  padding: 40px 80px;

  &-h1 {
    color: #4004a3;
    font-size: 24px;
    border-bottom: 1px solid #4004a3;
    font-weight: 500;
    padding-bottom: 22px;
    margin-bottom: 22px;
  }

  .FormNewInvoiceArbitrableTx {
    padding: 1.3em 0 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'labelArbitrableAddresses labelArbitrableAddresses'
      'inputArbitrableAddresses inputArbitrableAddresses'
      'errorArbitrableAddresses helpArbitrableAddresses'
      'labelTitle labelTitle'
      'inputTitle inputTitle'
      'errorTitle helpTitle'
      'labelReceiver labelReceiver'
      'inputReceiver inputReceiver'
      'errorReceiver helpReceiver'
      'labelTimeout labelTimeout'
      'inputTimeout inputTimeout'
      'errorTimeout helpTimeout'
      'labelAmount labelAmount'
      'inputAmount inputAmount'
      'errorAmount helpAmount'
      'labelFile labelFile'
      'inputFile inputFile'
      'errorFile helpFile'
      'labelDescription templateDescription'
      'inputDescription inputDescription'
      'errorDescription helpDescription'
      'errorTips helpTips'
      'submit submit';

    &-label-arbitrableAddresses {
      grid-area: labelArbitrableAddresses;
    }

    &-input-arbitrableAddresses {
      grid-area: inputArbitrableAddresses;
    }

    &-error-arbitrableAddresses {
      grid-area: errorArbitrableAddresses;
    }

    &-help-arbitrableAddresses {
      grid-area: helpArbitrableAddresses;
    }

    &-label-title {
      grid-area: labelTitle;
    }

    &-input-title {
      grid-area: inputTitle;
    }

    &-error-title {
      grid-area: errorTitle;
    }

    &-help-title {
      grid-area: helpTitle;
    }

    &-help-tips {
      grid-area: helpTips;
      margin-top: 7px;

      &-tip {
        margin-top: 3px;
      }
    }

    &-label-receiver {
      grid-area: labelReceiver;
    }

    &-input-receiver {
      grid-area: inputReceiver;
    }

    &-error-receiver {
      grid-area: errorReceiver;
    }

    &-help-receiver {
      grid-area: helpReceiver;
    }

    &-label-timeout {
      grid-area: labelTimeout;
    }

    &-input-timeout {
      grid-area: inputTimeout;
    }

    &-error-timeout {
      grid-area: errorTimeout;
    }

    &-help-timeout {
      grid-area: helpTimeout;
    }

    &-label-amount {
      grid-area: labelAmount;
    }

    &-input-amount {
      grid-area: inputAmount;
    }

    &-error-amount {
      grid-area: errorAmount;
    }

    &-help-amount {
      grid-area: helpAmount;
    }

    &-label-file {
      grid-area: labelFile;
    }

    &-input-file {
      grid-area: inputFile;
    }

    &-error-file {
      grid-area: errorFile;
    }

    &-help-file {
      grid-area: helpFile;
      margin-bottom: 2em;
    }

    &-label-description {
      grid-area: labelDescription;
    }

    &-template-description-wrapper {
      grid-area: templateDescription;
      text-align: right;
      &-content {
        color: #4004a3;
        display: inline-block;
        width: 50%;
        text-align: left;
      }
    }

    &-template-arbitrableAddresses-wrapper {
      grid-area: inputArbitrableAddresses;
      padding-bottom: 10px;
      &-content {
        color: #4004a3;
        width: 100%;
      }
    }

    &-input-description {
      grid-area: inputDescription;
      margin-top: 1em;
      max-width: 100%;
    }

    &-error-description {
      grid-area: errorDescription;
    }

    &-help-description {
      grid-area: helpDescription;
    }

    &-label {
      font-size: 14px;
      color: #4a4a4a;
      padding: 7px 0;
    }

    &-input {
      color: #4a4a4a;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding: 0.5em 0.8em;
      margin-bottom: 7px;
      font-size: 18px;
      box-sizing: border-box;
      font-weight: 400;
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
      &::placeholder {
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 400;
      }
    }

    &-error {
      color: #ff0303;
      font-size: 0.9em;
    }

    &-help {
      color: #4a4a4a;
      font-style: italic;
      font-size: 12px;
      text-align: right;
    }

    &-textarea {
      font-size: 14px;
      color: #4a4a4a;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding: 0 1em;
      font-size: 1em;
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
      padding: 0.7em 1em;
    }

    &-submit {
      grid-area: submit;
      padding-top: 2em;
      text-align: right;
    }
  }
}

span.error {
  display: none;
}

@media (max-width: 56em) {
  .NewInvoiceArbitrableTx {
    border: none;
    box-shadow: none;
    padding: 0 15px 10px 15px;
    margin: 0 4px;
    &-h1 {
      text-align: center;
      font-size: 1.1em;
      padding: 2em 0 1.5em 0;
    }
  }
  .FormNewInvoiceArbitrableTx {
    &-help-title {
      display: none;
    }
    &-help-receiver {
      display: none;
    }
    &-help-timeout {
      display: none;
    }
    &-help-amount {
      display: none;
    }
    &-help-file {
      display: none;
    }
    &-template-description-wrapper {
      display: none;
    }
    &-submit {
      text-align: center !important;
      button {
        float: none;
        display: inline;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
