.AgreementFully {
  background: linear-gradient(52.79deg, #1e075f 29.65%, #4004a3 76.51%);
  color: #fff;
  text-align: center;

  &-message {
    text-align: center;
    background-image: url(../../assets/ellipsis.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    min-height: 190px;
    p {
      font-size: 1.4em;
      line-height: 1.4em;
      padding: 2em 0 1em 0;
    }
    b {
      font-weight: bold;
    }
  }

  &-footer {
    padding: 30px 50px;
    text-align: left;
    background: #1e075f;
    font-size: 14px;
  }
}

.PayOrReimburseArbitrableTx {
  &-yes {
    width: 220px;
  }
  &-no {
    margin-left: 3em;
    width: 220px;
  }
}

@media (max-width: 48em) {
  .AgreementFully {
    &-message {
      padding: 0 2em;
    }
  }
  .PayOrReimburseArbitrableTx {
    width: 100%;
    text-align: center;
    &-yes {
      display: inline-block;
      width: 90%;
    }
    &-no {
      display: inline-block;
      margin-left: 0;
      margin: 1em 0 2em 0;
      width: 90%;
    }
  }
}