.AgreementFully {
  background: linear-gradient(52.79deg, #1e075f 29.65%, #4004a3 76.51%);
  color: #fff;
  text-align: center;

  &-modal {
    min-width: 50vw;
    &-title {
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
      padding: 24px 0 1em 0;
    }
    &-description {
      text-align: center;
      color: #4a4a4a; 
      font-size: 14px;
      padding-bottom: 2em;
    }
    &-offer {
      font-style: italic;
      color: #4a4a4a; 
      font-size: 12px;
      padding: 3em 0 1em 2em;
    }
    &-buttons {
      text-align: center;
      &-raise-dispute {
        display: inline-block;
        &-button {
          width: 240px;
        }
      }
      &-pay-reimburse {
        display: inline-block;
        padding-left: 1em;
      }
    }
    &-dispute-description {
      font-style: italic;
      color: #4a4a4a;
      font-size: 12px;
      padding: 3em 0 1em 2em;
    }
  }

  &-message {
    text-align: center;
    background-image: url(../../assets/ellipsis.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    min-height: 190px;
    p {
      font-size: 1.4em;
      line-height: 1.4em;
      padding: 2em 0 1em 0;
    }
    b {
      font-weight: bold;
    }
  }

  &-footer {
    padding: 30px 50px;
    text-align: left;
    background: #1e075f;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 48em) {
  .AgreementFully {
    &-modal {
      &-buttons {
        width: 100%;
        &-raise-dispute {
          display: block;
          margin: 2em 0 0 0;
          form {
            width: 100%;
          }
          &-button {
            width: 100%;
          }
        }
        &-pay-reimburse {
          display: block;
          margin: 2em 0 0 0;
          width: 100%;
          padding: 0;
        }
      }
      &-dispute-description {
        padding: 0 0 1em 2em;
      }
    }
    &-message {
      padding: 0 2em;
    }
  }
}