.notice-container {
  background: rgba(255,255,51,0.1);
  border: 1px solid #D09CFF;
  border-radius: 3px;
  font-size: 14px;
  margin: 15px 0px;
  padding: 20px;
  color: #4D00B4;
  text-align: left;
}
