html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Layout styles -----------------------------------*/


/* styles */

:root {
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #34495e;
}

main {    
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  color: #4a4a4a;
  font-size: 1.4em;
  padding: 10px;
}

p {
  margin-bottom: 1em;
  padding: 0 10px;
}

section {
  border-radius: 3px;
  border: #ccc solid 1px;
  margin-bottom: 20px;
  overflow: hidden;
  
}

section:hover {
  cursor: pointer;
}

/* Menu */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 10px 4px 0;
  text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
  color: 3px gray solid;
}
