.EmailForm {
  background: #fff;
  border-radius: 3px;
  padding: 40px 80px;

  &-h1 {
    grid-area: h1;
    color: #4004a3;
    font-size: 24px;
    border-bottom: 1px solid #4004a3;
    font-weight: 500;
    padding-bottom: 22px;
    margin-bottom: 22px;
  }

  &-msg {
    color: #4a4a4a;
    font-size: 16px;
    padding: 0 0 20px;
  }

  & label {
    color: #4a4a4a;
    font-size: 14px;
    padding: 17px 0;
  }

  &-input {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0 0.8em;
    line-height: 38px;
    margin-right: 1em;
    font-size: 1.1em;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 500;
  }

  &-error {
    color: #ff0303;
    font-size: 14px;
    margin-top: 6px;
  }

  &-title-b {
    font-weight: bold;
    padding: 0.5em 0;
  }
}

.Checkbox {
  margin: 1em 1em 2em 0;
}

/* 56em = 896px */
@media (max-width: 56em) {
  .EmailForm {
    padding: 0 15px 10px 15px;
    margin: 0 4px;
    &-h1 {
      text-align: center;
      font-size: 1.1em;
      padding: 0 0 1.5em 0;
    }
    &-input {
      width: 100%;
    }
    .Button {
      margin-top: 1em;
      width: 100%;
    }
  }
}
