.account-wrapper {
  align-self: center;
  order: 1;
  flex-basis: 100%;
  margin: 16px;
  display: flex;
  justify-content: center;
}

.account-inner-wrapper {
  position: relative;
}

.account {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-out;

  &.open,
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &-network {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      display: block;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: #1aff1a;
    }

    &::after {
      display: block;
      content: "";
      width: 1px;
      height: 16px;
      background: rgba(255, 255, 255, 0.15);
    }
  }

  &-address {
    font-family: monospace;
    font-size: 14px;
    height: 16px;
    line-height: 1.33;
  }

  &-options {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    padding: 12px 8px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

    &-link {
      display: block;
      width: 100%;
      background: none;
      text-align: left;
      border: none;
      cursor: pointer;
      font-weight: normal;
      color: #333;

      &:hover {
        color: #000;
      }
    }
  }
}

