/* @define RequiresMetaMaskPage */
.RequiresMetaMaskPage {
    height: 100%;
    overflow-y: scroll;
  
    // stylelint-disable-next-line plugin/selector-bem-pattern
    &-FAQ {
      padding: 40px 20%;
    }
  
    &-card {
      margin: 100px -15%;
      text-align: center;
  
      &-button {
        margin: 8px;
      }
    }
  }